@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-gray: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
    font-family: "Outfit", sans-serif; 
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    width: 85%;
    height: auto;
    flex-wrap: wrap;

    border-radius: 21px;
    padding: 15px 16px;
    
    box-shadow: 1px 28px 25px rgba(0, 0, 0, .05);
}

.container img {
    width: 100%;
    border-radius: 11px;
    margin-bottom: 24px;
}

.text {
    margin-bottom: 25px;
    padding: 0 18px;
}

h1 {
    font-size: 22px;
    margin-bottom: 14px;
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
    font-size: 15.5px;
}

@media only screen and (min-width: 400px) {
    .container {
        width: 280px;
        padding: 14px 14px;
        border-radius: 18px;
    }

    .container img {
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .text {
        padding: 0 7px;
    }

    h1 {
        font-size: 19px;
    }

    p {
        font-size: 13.5px;
    }

    .text {
        margin-bottom: 20px;
    }
}